* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.topDisplayHeader {
  width: 100%;
  height: 230px;
  background-image: url("header\ \(2\).jpg");
  background-size: cover;
  background-position: center;
}
.perfilPhoto {
  background-image: url("fotoPerfil.jpg");
  background-size: 250px;
  background-position: center;
  width: 200px;
  height: 200px;
  border-radius: 50%; /* Faz o quadrado virar um círculo */
  position: absolute; /* Se quiser posicionar o círculo dentro da div */
  top: 37%; /* Centraliza verticalmente */
  left: 70%; /* Centraliza horizontalmente */
  transform: translate(-50%, -50%); /* Ajuste para centralização exata */
}
.navigator {
  height: 40px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(28, 18, 18, 0.373);
  display: flex;
  justify-content: flex-start;
  padding: 0px 100px 0px 100px;
}
.btnNavigator {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 20px;
}
.navigatorBtn1 {
  font-size: 20px;
  padding: 8px;
  margin: -3px;
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 3px;
  color: rgb(68, 65, 65);
  cursor: pointer;
  transition: 0.4s;
}
.navigatorBtn2 {
  font-size: 20px;
  padding: 8px;
  margin: -3px;
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 3px;
  color: rgb(68, 65, 65);
  cursor: pointer;
  transition: 0.4s;
}
.navigatorBtn3 {
  font-size: 20px;
  padding: 8px;
  margin: -3px;
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 3px;
  color: rgb(68, 65, 65);
  cursor: pointer;
  transition: 0.4s;
}
.navigatorBtn4 {
  font-size: 20px;
  padding: 8px;
  margin: -3px;
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 3px;
  color: rgb(68, 65, 65);
  cursor: pointer;
  transition: 0.4s;
}
.navigatorBtn5 {
  font-size: 20px;
  padding: 8px;
  margin: -3px;
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 3px;
  color: rgb(68, 65, 65);
  cursor: pointer;
  transition: 0.4s;
}
.navigatorBtn6 {
  font-size: 20px;
  padding: 8px;
  margin: -3px;
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 3px;
  color: rgb(68, 65, 65);
  cursor: pointer;
  transition: 0.4s;
}
.backgroudImageContainer {
  background-image: url("body2.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.bodyPage {
  color: aliceblue;
  font-family: "Martian Mono", monospace;
  margin-top: 50px;
  margin-left: 50px;
}
.bioPage {
  border: 10px solid rgba(28, 225, 255, 0.163);
  background-color: rgba(33, 186, 209, 0.163);
  border-radius: 5%;
  padding: 20px;
  width: 700px;
}
.contactPage {
  margin-top: 200px;
}
.projectPage {
  border: 10px solid rgba(28, 225, 255, 0.163);
  background-color: rgba(33, 186, 209, 0.163);
  border-radius: 5%;
  padding: 20px;
  width: 300px;
  height: 600px;
  margin-top: 150px;
  margin-left: 195px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgb(199, 181, 181);
  text-align: center;
}
.projectText {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-bottom: -20px;
  border: 20px;
}
.containerProjetc {
  border: 10px solid rgba(28, 225, 255, 0.163);
  background-color: rgba(0, 0, 0, 0.163);
  border-radius: 5%;
  margin-top: 15px;
  padding-top: 5px;
  height: 500px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.contactPage {
  margin-top: 300px;
}
.footerPage {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 25px;
  background-color: rgb(28, 18, 18, 0.373);
  font-family: "Martian Mono", monospace;
}
.fontSizeFooter {
  font-size: 15px;
}
